## Fundamentos Python

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.7.3

# Variáveis e operadores

In [8]:
var_teste =1
var_teste2 =5.0

In [9]:
print(var_teste)
print(var_teste2)

1
5.0

In [6]:
var_teste

1

In [12]:
type(var_teste)

int

In [13]:
type(var_teste2)

float

## Declaração Múltipla

In [14]:
x, y,z = "Nicolas", "Alexandre", "Pereira"

In [15]:
x

'Nicolas'

In [16]:
y

'Alexandre'

In [17]:
z

'Pereira'

In [18]:
# Não pode criar variáveis que iniciem com números.

In [19]:
3a = 20

SyntaxError: invalid syntax (<ipython-input-19-a6f562ddadf0>, line 1)

# Atribuição de variáveis a outras variáveis e operações

In [21]:
nota = 5
peso = 0.6
total = nota * peso

In [22]:
total

3.0

In [23]:
valor= 20

In [24]:
valorCheio=100

In [26]:
# E com as demais operações aritmeticas.
valor + valorCheio

120

# Concatenação

In [27]:
nome ="Nicolas"

In [28]:
sobrenome = "Alexandre"

In [29]:
nomeCompleto = nome + " " + sobrenome
print(nomeCompleto)

Nicolas Alexandre

# Strings

Criando uma String
Para criar uma string em Python você pode usar aspas simples ou duplas.

In [31]:
'nicolas'

'nicolas'

In [32]:
'Esta é uma frase'

'Esta é uma frase'

In [33]:
"Esta tb é uma frase"

'Esta tb é uma frase'

In [34]:
"Testando strings em 'Python'"

"Testando strings em 'Python'"

In [36]:
print ('Testando \nStrings \nem \nPython')

Testando
Strings
em
Python

In [37]:
s = 'Indexando strings'

In [39]:
s[0]

'I'

In [40]:
s[1]

'n'

In [41]:
s[2]

'd'

Podemos usar um : para executar um slicing que faz a leitura de tudo até um ponto designado.

In [42]:
# Retorna todos os elementos da string, começando pela posição (lembre-se que Python começa a indexação pela posição 0),
# até o fim da string.
s[1:]

'ndexando strings'

In [43]:
# A string original permanece inalterada
s

'Indexando strings'

In [44]:
# Retorna tudo até a posição 3
s[:3]

'Ind'

In [45]:
s[:]

'Indexando strings'

In [46]:
# Nós também podemos usar a indexação negativa e ler de trás para frente.
s[-1]

's'

In [47]:
# Retornar tudo, exceto a última letra
s[:-1]

'Indexando string'

In [48]:
s[::1]

'Indexando strings'

In [49]:
s[::2]

'Idxnosrns'

In [50]:
s[::-1]

'sgnirts odnaxednI'

### Funções Built-in de Strings

In [53]:
frase= 'Estou estudando python com um teclado mecânico switch blue muito barulhento'

In [54]:
frase

'Estou estudando python com um teclado mecânico switch blue muito barulhento'

In [55]:
frase.upper()

'ESTOU ESTUDANDO PYTHON COM UM TECLADO MECÂNICO SWITCH BLUE MUITO BARULHENTO'

In [56]:
frase.lower()

'estou estudando python com um teclado mecânico switch blue muito barulhento'

In [57]:
frase.split()

['Estou',
 'estudando',
 'python',
 'com',
 'um',
 'teclado',
 'mecânico',
 'switch',
 'blue',
 'muito',
 'barulhento']

In [58]:
frase.capitalize() # Coloca a primeira letra maiúscula.

'Estou estudando python com um teclado mecânico switch blue muito barulhento'

In [60]:
frase.count('e')

5

In [61]:
frase.find('p')

16

In [64]:
frase.isalnum()

False

In [65]:
frase.isalpha()

False

In [66]:
frase.islower()

False

In [67]:
frase.isspace()

False

In [68]:
frase.endswith('o')

True

In [72]:
frase.partition(' ')

('Estou',
 ' ',
 'estudando python com um teclado mecânico switch blue muito barulhento')

In [76]:
print('Python'=='P')

False

## Listas

In [87]:
lista =['carro', 'casa', 'padaria', 'teclado']

In [78]:
lista

['carro', 'casa', 'padaria']

In [79]:
listadomercado2 = ["ovos", "farinha", "leite", "maças"]
listadomercado2

['ovos', 'farinha', 'leite', 'maças']

In [81]:
lista3 = [12, 100, "Universidade"]
lista3

[12, 100, 'Universidade']

In [82]:
item1 = lista3[0]
item2 = lista3[1]
item3 = lista3[2]

In [83]:
print(item1, item2, item3)

12 100 Universidade

In [84]:
lista[2]

'padaria'

In [88]:
lista[2] = "chocolate"

In [89]:
lista

['carro', 'casa', 'chocolate', 'teclado']

In [90]:
del lista[2]

In [91]:
lista

['carro', 'casa', 'teclado']

### Listas de listas (Listas aninhadas)
Listas de listas são matrizes em Python

In [92]:
# Criando uma lista de listas
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [93]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [94]:
a = listas[0]
a

[1, 2, 3]

In [95]:
list1 = listas[1]
list1

[10, 15, 14]

In [97]:
# Atribuindo à variável a, o primeiro valor da primeira lista
a = listas[0][0]
a

1

In [99]:
b = listas[1][2]
b

14

In [100]:
lista_s1 = [34, 32, 56]
lista_s2 = [21, 90, 51]

In [101]:
# Concatenando listas
lista_total = lista_s1 + lista_s2
lista_total

[34, 32, 56, 21, 90, 51]

## Operador in

In [102]:
# Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [104]:
print(2 in lista_teste_op)

True

In [105]:
len(lista_teste_op)

4

In [106]:
min(lista_teste_op)

-5

In [107]:
listadomercado2 = ["ovos", "farinha", "leite", "maças"]

In [108]:
listadomercado2.append("carne")
listadomercado2

['ovos', 'farinha', 'leite', 'maças', 'carne']

In [109]:
listadomercado2.count("carne")

1

In [112]:
print(listadomercado2)

['ovos', 'farinha', 'leite', 'maças', 'carne']

In [113]:
type(listadomercado2)

list

In [114]:
a = []

In [115]:
a.append(10)

In [116]:
a

[10]

In [117]:
a.append(50)
a

[10, 50]

In [118]:
old_list = [1,2,5,10]
new_list = []

In [119]:
# Copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)
    
new_list

[1, 2, 5, 10]

In [120]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print (cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [121]:
cidades.index('Salvador')

2

In [122]:
cidades.insert(2, 110)
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [123]:
# Remove um item da lista
cidades.remove(110)
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [124]:
x = [3, 4, 2, 1]
x

[3, 4, 2, 1]

In [125]:
x.sort()

In [126]:
x

[1, 2, 3, 4]

## Dicionários

In [2]:
# Isso é uma lista
estudantes_lst = ["Mateus", 24, "Fernanda", 22, "Tamires", 26, "Cristiano", 25]   
estudantes_lst

['Mateus', 24, 'Fernanda', 22, 'Tamires', 26, 'Cristiano', 25]

In [3]:
# Isso é um dicionário
estudantes_dict = {"Mateus":24, "Fernanda":22, "Tamires":26, "Cristiano":25}
estudantes_dict

{'Mateus': 24, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25}

In [4]:
estudantes_dict["Mateus"]

24

In [6]:
estudantes_dict["Pedro"] = 23
estudantes_dict["Pedro"]

23

In [7]:
estudantes_dict.clear()

In [8]:
estudantes_dict

{}

In [9]:
del estudantes_dict

In [10]:
estudantes = {"Mateus":24, "Fernanda":22, "Tamires":26, "Cristiano":25}

In [11]:
len(estudantes)

4

In [12]:
estudantes.keys()

dict_keys(['Mateus', 'Fernanda', 'Tamires', 'Cristiano'])

In [13]:
estudantes.values()

dict_values([24, 22, 26, 25])

In [14]:
estudantes.items()

dict_items([('Mateus', 24), ('Fernanda', 22), ('Tamires', 26), ('Cristiano', 25)])

In [15]:
estudantes2 = {"Maria":27, "Erika":28, "Milton":26}
estudantes2

{'Maria': 27, 'Erika': 28, 'Milton': 26}

In [16]:
estudantes.update(estudantes2)
estudantes

{'Mateus': 24,
 'Fernanda': 22,
 'Tamires': 26,
 'Cristiano': 25,
 'Maria': 27,
 'Erika': 28,
 'Milton': 26}

In [17]:
dic1 = {}
dic1

{}

In [18]:
dic1["key_one"] = 2

In [19]:
print(dic1)

{'key_one': 2}

In [21]:
dic1[10] = 5
dic1

{'key_one': 2, 10: 5}

In [22]:
# Dicionário de listas
dict3 = {'key1':1230,'key2':[22,453,73.4],'key3':['leite','maça','batata']}
dict3

{'key1': 1230, 'key2': [22, 453, 73.4], 'key3': ['leite', 'maça', 'batata']}

In [23]:
dict3['key2']

[22, 453, 73.4]

In [24]:
# Operações com itens da lista, dentro do dicionário
var1 = dict3['key2'][0] - 2
var1

20

### Criando dicionários aninhados

In [26]:
# Criando dicionários aninhados
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'Dict aninhado em Python'}}}

In [27]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

'Dict aninhado em Python'

## Tuplas

In [35]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes")

In [36]:
tupla1

('Geografia', 23, 'Elefantes')

In [30]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [31]:
# Tuplas não suportam delete de um item específico
del tupla1["Gatos"]

TypeError: 'tuple' object does not support item deletion

In [37]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [38]:
tupla1

'Chocolate'

In [39]:
tupla1 = ("Geografia", 23, "Elefantes")
tupla1

('Geografia', 23, 'Elefantes')

In [40]:
tupla1[0]

'Geografia'

In [41]:
# Verificando o comprimento da tupla
len(tupla1)

3

In [42]:
# Slicing, da mesma forma que se faz com listas
tupla1[1:]

(23, 'Elefantes')

In [43]:
tupla1.index('Elefantes')

2

In [44]:
# Deletando a tupla
del tupla1

In [45]:
# Criando uma tupla
t2 = ('A', 'B', 'C')
t2

('A', 'B', 'C')

In [46]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [47]:
lista_t2

['A', 'B', 'C']

In [48]:
lista_t2.append('D')

In [49]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [50]:
t2

('A', 'B', 'C', 'D')